body {
    background: url(../img/12_col.gif) center top repeat-y;
    background-size: 90%;
}

header,
section,
aside,
footer {
    border: 1px solid grey;
    min-height: 100px;
}

#container {
    margin: 0 auto;
    width: 90%;


    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
			"header header header header header header header header header header header header"
			"box1 box1 box2 box2 box2 box2 box2 box2 box2 box2 box3 box3"
			"content content content content content content content content content sidebar sidebar sidebar"
            "footer footer footer footer footer footer footer footer footer footer footer footer";
    gap: 2%;
}

.header {
    grid-area: header;
    border: 1px solid grey;
}

.sidebar {
    grid-area: sidebar;
    border: 1px solid grey;
}

.content {
    grid-area: content;
    border: 1px solid grey;
}

[class*="box"] {
    border: 1px solid grey;
}

.box1 {
    grid-area: box1;
}

.box2 {
    grid-area: box2;
}

.box3 {
    grid-area: box3;
}

.footer {
    grid-area: footer;
    border: 1px solid grey;
    padding: 10px;
    display: grid;

    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
	"footer-section1 footer-section1 footer-section1 footer-section2 footer-section2 footer-section2 footer-section3 footer-section3 footer-section3 footer-section4 footer-section4 footer-section4"
    "footer-section1 footer-section1 footer-section1 footer-section2 footer-section2 footer-section2 footer-section3 footer-section3 footer-section3 footer-section4 footer-section4 footer-section4"
    "footer-section1 footer-section1 footer-section1 footer-section2 footer-section2 footer-section2 footer-section3 footer-section3 footer-section3 footer-section4 footer-section4 footer-section4";
    gap: 2%;
}

.footer-section1 {
    grid-area: footer-section1;
}

.footer-section2 {
    grid-area: footer-section2;
}

.footer-section3 {
    grid-area: footer-section3;
}

.footer-section4 {
    grid-area: footer-section4;
}

.content {
    grid-area: content;
}

/*
Desktop
 */
@media screen and (min-width: 1200px) {
    #container {
        margin: 0 auto;
        width: 90%;


        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
			"header header header header header header header header header header header header"
			"box1 box1 box2 box2 box2 box2 box2 box2 box2 box2 box3 box3"
			"content content content content content content content content content sidebar sidebar sidebar"
            "footer footer footer footer footer footer footer footer footer footer footer footer";
        gap: 2%;
    }
}

/*
Mindre desktop
 */
@media screen and (max-width: 1200px) and (min-width: 960px) {
    #container {
        margin: 0 auto;
        width: 90%;

        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
			"header header header header header header header header header header header header"
			"box1 box1 box1 box2 box2 box2 box2 box2 box2 box3 box3 box3"
			"content content content content content content content content sidebar sidebar sidebar sidebar"
            "footer footer footer footer footer footer footer footer footer footer footer footer";
        gap: 2%;
    }
}

/*
Tablet
 */
@media screen and (max-width: 960px) and (min-width: 768px) {
    #container {
        margin: 0 auto;
        width: 90%;

        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
			"header header header header header header header header header header header header"
			"box1 box1 box1 box1 box2 box2 box2 box2 box3 box3 box3 box3"
			"content content content content content content sidebar sidebar sidebar sidebar sidebar sidebar"
            "footer footer footer footer footer footer footer footer footer footer footer footer";
        gap: 2%;
    }
}

/*
Footer
 */
@media screen and (max-width: 960px) and (min-width: 768px) {
    .footer {
        margin: 0 auto;
        width: 97%;


        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            "footer-section1 footer-section1 footer-section1 footer-section1 footer-section1 footer-section1 footer-section2 footer-section2 footer-section2 footer-section2 footer-section2 footer-section2"
            "footer-section3 footer-section3 footer-section3 footer-section3 footer-section3 footer-section3 footer-section4 footer-section4 footer-section4 footer-section4 footer-section4 footer-section4";
        gap: 2%;
    }
}


/*
mobiltelefon
 */
@media screen and (max-width: 768px) {
    #container {
        margin: 0 auto;
        width: 90%;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, minmax(100px, auto));
        grid-template-areas:
			"header"
			"box1"
            "box2"
            "box3"
			"content"
            "sidebar"
            "footer";
        gap: 2%;
    }
}


/*
Footer-contents
 */
@media screen and (max-width: 768px) {
    .footer {
        margin: 0 auto;
        width: 96%;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
            "footer-section1"
            "footer-section2"
            "footer-section3"
            "footer-section4";
        gap: 20px 2%;
    }
}

.header-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: beige;

}

.header-buttons button {
    margin-right: 10px;
    border: 1px solid #bcbcbc;
}

.header-buttons button:last-child {
    margin-right: 0;
}

.button-4 {
    margin-left: auto;
}

.sidebar-buttons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 20px;
    background-color: beige;
}

.sidebar-buttons button {
    margin-bottom: 10px;
    border: 1px solid #bcbcbc;
}

.content-section {
    display: flex;
    flex-wrap: wrap;
    background-color: beige;
    padding: 5px;
}

.content-section section {
    flex: 1 1 33%;
    margin: 7px;
}